.experience-card__item {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #EBEAED;
}

.experience-card__subtitle {
    margin-bottom: 10px;
}

.experience-card__company,
.experience-card__date {
    display: flex;
    align-items: center;
}

.experience-card__icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.experience-card__type {
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .experience-card__item {
        flex-direction: column;
    }

    .experience-card__info {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 10px;
    }

    .experience-card__type {
        min-width: 100px
    }

    .experience-card__type {
        margin-bottom: 0px;
    }
}
