.footer {
    margin-top: 160px;
}

.footer>.info {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto 40px;
}

.footer>.nav {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}


@media screen and (max-width: 768px) {

    .footer {
        margin-top: 20px;
    }

    .footer>.info {
        flex-direction: column;
        align-items: center;
    }

    .footer>.info>* {
        margin-top: 10px;
    }


    .footer>.nav {
        display: block;
        padding: 20px 0;
    }

    .footer>.nav>.list {
        display: block;
        margin: 0 auto;
    }

    .footer>.nav>.list>.item {
        text-align: center;
        margin-right: 0;
        margin-top: 10px;
    }
}
